{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block content %}
  <section class="section">
    <div class="section-header">
      <h1>Dashboard</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">Dashboard</div>
      </div>
    </div>
    <div class="section-body">
      {% if request.user|has_group:'admin' %}
        <p>Selamat datang Admin!</p>
      {% elif request.user|has_group:'guru' %}
        <p>Selamat datang Guru!</p>
      {% elif request.user|has_group:'siswa' %}
        <p>Selamat datang Siswa!</p>
      {% endif %}
      {% comment %}

      {% endcomment %}
      <div class="row">
        {% for form_name, form in context.items %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>{{ form_name|title }}</h4>
              </div>
              <div class="card-body p-5">
                {% crispy form %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% comment %} {% endcomment %}
    </div>
  </section>
{% endblock %}

