{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block content %}
  <section class="section">
    <div class="section-header">
      <h1>Dashboard</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">Dashboard</div>
      </div>
    </div>
    <div class="section-body">
     {% crispy update %}

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis, doloremque itaque debitis minima accusantium! Dolor doloremque magnam repellat sequi mollitia accusantium veritatis, laudantium assumenda, a aliquid velit, fuga nostrum?
    </div>
  </section>
{% endblock %}

{% block page_js %}
  
{% endblock %}


