{% load auth_extras %}
<ul class="sidebar-menu">
  <li class="menu-header">Dashboard</li>
  <li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
  </li>
  {% if request.user|has_group:'ADMIN' %}
    <li class="menu-header">Data</li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-envelope"></i> <span>Data Akun</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="{% url 'index_user' %}">Informasi Akun</a>
        </li>
      </ul>
    </li>
  {% endif %}
  {% if request.user|has_group:'ADMIN' or request.user|has_group:'GURU' %}
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-alt"></i> <span>Data Profil</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="{% url 'index_profil_admin' %}">Informasi Profil</a>
        </li>
      </ul>
    </li>
  {% endif %}
  {% if request.user|has_group:'ADMIN' or request.user|has_group:'GURU' or request.user|has_group:'SISWA' %}
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-alt"></i> <span>Data Angkatan</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="{% url 'index_angkatan' %}">Informasi Angkatan</a>
        </li>
      </ul>
    </li>
    {% if request.user|has_group:'ADMIN' or request.user|has_group:'GURU' or request.user|has_group:'SISWA' %}
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-alt"></i> <span>Data Absensi</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="{% url 'index_absensi' %}">Informasi Absensi</a>
        </li>
      </ul>
    </li>
    {% endif %}
  {% endif %}
</ul>
