{% load auth_extras %}
<ul class="sidebar-menu">
  <li class="menu-header">Dashboard</li>
  <li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link"
      ><i class="fas fa-fire"></i><span>Dashboard</span></a
    >
  </li>
  {% if request.user|has_group:"admin" %}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-envelope"></i> <span> Daftar Akun </span></a
    >
    <ul class="dropdown-menu">
      
      {% comment %} <li>
        <a class="nav-link" href="{% url 'incoming_mail' %}">Incoming Mail</a>
      </li> {% endcomment %}
      <li>
        <a class="nav-link" href="{% url 'informasi_akun' %}">Informasi Akun</a>
      </li>
      
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Data Siswa </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Rekap Data </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>

  {% comment %} untuk menambah isi dashboard {% endcomment %} {% elif
  request.user|has_group:"guru" %}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-envelope"></i> <span> Daftar Akun </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_mail' %}">Incoming Mail</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_mail' %}">Outgoing Mail</a>
      </li>
      {% endcomment %}
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Data Siswa </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Rekap Data </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>
  {% elif request.user|has_group:"siswa" %}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-envelope"></i> <span> Daftar Akun </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_mail' %}">Incoming Mail</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_mail' %}">Outgoing Mail</a>
      </li>
      {% endcomment %}
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Data Siswa </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
      ><i class="far fa-file-alt"></i> <span> Rekap Data </span></a
    >
    <ul class="dropdown-menu">
      {% comment %}
      <li>
        <a class="nav-link" href="{% url 'incoming_disposition' %}"
          >Incoming Disposition</a
        >
      </li>
      <li>
        <a class="nav-link" href="{% url 'outgoing_disposition' %}"
          >Outgoing Disposition</a
        >
      </li>
      {% endcomment %}
    </ul>
  </li>
  {% endif %}
</ul>
